---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";
import PagingNavigation from "../../components/PagingNavigation.astro";

const datph2 = "네트워크";
const location = "인천시민대학";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<div class="subcotent">
				<div class="row introType">
					<div class="row__head pt0">
						<span class="title__icon">인천시민대학 라이프 칼리지란?</span>
					</div>
					<p class="content">
						도시 곳곳이 배움의 공간이 되는 인천광역시의 고유한 평생 교육체계로
						명예시민학위제를 운영하여 <br /> 인천시민의 평생 학습 권리를 보장하고,
						시민 행복추구에 이바지 할 수 있도록 평생교육을 제공하고자 합니다.
					</p>

					<div class="row__head">
						<span class="title__icon">기본방향</span>
					</div>

					<div class="row__body" style="width: 100%; margin: 0 auto;">
						<img
							class="img01"
							style="display: block; margin: 0 auto;"
							src="../img/기본방향.jpg"
							alt="인천의 도시가치와 시민의 지성을 체계적으로 향상시키는 시민대학 플랫폼 구축 본부 캠퍼스 인천시민대학의
중심이 되는 캠퍼스 대학 캠퍼스 지역 대학의 인프라를
활용한 캠퍼스 중구 캠퍼스 공공-민간 전문기관
연계로 운영되는 캠퍼스 인천시민대학 시민라이프칼리지 삶의 의미 삶의 재미 삶을 음미 명예시민학위제 학습명장 어진인(人) 시민 학습플래너 시민강사인증제"
						/>
					</div>

					<div class="row__head">
						<span class="title__icon">중구캠퍼스에서는?</span>
					</div>

					<div class="row__body">
						<ul class="list-1">
							<li>
								배움을 통한 삶의 변화를 꿈꾸며 이웃들과 함께 모여 배움 과정을
								만들어가고 지역의 다양한 기관, 단체와 협력하여 ♂ 중구 곳곳
								다채로운 학습 공간이 열립니다.
							</li>
							<li>중구 캠퍼스는 현재 기획단계이며, 향후 구축 예정입니다.</li>
							<li>
								구민 여러분께서는 현재 인천시민대학 라이프칼리지 홈페이지를 통해
								학습이 가능합니다.
							</li>
							<li class="before-none">
								<a
									href="https://lms-itle.or.kr/"
									target="_blank"
									title="새창 이동"
									class="comBtn sizeLg bgMain ml0"
								>
									🔗 인천시민대학 라이프칼리지 홈페이지 바로가기
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
