---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";
import PagingNavigation from "../../components/PagingNavigation.astro";

const datph2 = "λ„¤νΈμ›ν¬";
const location = "μ°λ¦¬λ™λ„¤ λ¬Έν™”μ„Όν„°";
const pageTitle = `ν™>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<div class="subcotent">
				<div class="row introType">
					<p class="row__head pt0">
						<span class="title__icon">μ°λ¦¬λ™λ„¤ λ¬Έν™”μ„Όν„°</span>
					</p>
					<p class="content">
						λ€ν•λ§νΈ λ¬Έν™”μ„Όν„°λ” μΌμƒμ— λ§λ‚  μ μλ” λ ν•λ‚μ
						ν‰μƒκµμ΅κΈ°κ΄€μ…λ‹λ‹¤. μΈμ² μ¤‘κµ¬μ—λ” λ΅―λ°λ§νΈ μμΆ…λ„μ κ³Ό μ΄λ§νΈ
						λ™μΈμ²μ μ΄ μ£Όλ―Όλ“¤μ ν‰μƒν•™μµμ„ λ•κ³  μμµλ‹λ‹¤.
						<br />
						μΈμ² μ¤‘κµ¬λ” μ§€λ‚ 2021λ…„ λ΅―λ°λ§νΈ μμΆ…λ„μ κ³Ό μ΄λ§νΈ λ™μΈμ²μ κ³Ό ν‰μƒν•™μµν™μ„±ν™”λ¥Ό
						μ„ν• MOUλ¥Ό μ²΄κ²°ν•κ³  μ¤‘κµ¬μ ν‰μƒν•™μµ μ €λ³€ν™•λ€λ¥Ό μ„ν•΄ ν‘λ ¥ν•κ³  μμµλ‹λ‹¤.
					</p>

					<div class="row__body flex">
						<ul class="list-1">
							<li class="kk1">λ΅―λ°λ§νΈ μμΆ…λ„μ </li>
							<li class="before-none pl0" style="margin-top: -30px;">
								<a
									href="https://culture.lottemart.com/cu/branch/main.do?search_str_cd=424"
									target="_blank"
									title="μƒμ°½ μ΄λ™"
									class="comBtn sizeLg bgMain ml0"
								>
									π”— μκ°•μ‹ μ²­ λ°”λ΅κ°€κΈ°
								</a>
							</li>
						</ul>
						<ul class="list-1">
							<li class="kk2">μ΄λ§νΈ λ™μΈμ²μ </li>
							<li class="before-none pl0">
								<a
									href="https://www.cultureclub.emart.com/main"
									target="_blank"
									title="μƒμ°½ μ΄λ™"
									class="comBtn sizeLg bgMain ml0"
								>
									π”— μκ°•μ‹ μ²­ λ°”λ΅κ°€κΈ°
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
