---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";
import PagingNavigation from "../../components/PagingNavigation.astro";

const datph2 = "네트워크";
const location = "평생학습 동아리 소개";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<div class="subcotent network">
				<!-- 서브 탭메뉴 -->
				<ul class="comSubTab">
					<li class="on">
						<a href="LifelongLearningClub.html">평생학습 동아리 소개</a>
					</li>
					<li>
						<a href="LifelongLearningClubCurrentStatus.html">평생학습 동아리 현황</a>
					</li>
					<li>
						<a href="LifelongLearningClubEnrollment.html">평생학습 동아리 신청</a>
					</li>
				</ul>
				<div class="row introType">
					<p class="row__head">
						<span class="title__icon">평생학습 동아리란?</span>
					</p>
					<p class="content">
						일정한 인원의 성인 중구 주민들이 자율적으로 주제와 방법을 정하고
						학습하는 정기적인 모임이자, 학습을 통한 주민간의 소통과 나눔이
						실천되는 지역 학습 커뮤니티
					</p>
					<p class="row__head">
						<span class="title__icon">중구의 역할</span>
					</p>
					<p class="content">다양한 평생학지원습 동아리 활동 발굴 및 성장</p>
					<p class="row__head">
						<span class="title__icon">평생학습 동아리 지원사업</span>
					</p>
					<div class="com-step introType1">
						<ul>
							<li>
								<div class="num">01</div>
								<p class="tit">
									평생학습동아리 등록 <br />
									(연중)
								</p>
								<p class="txt">
									동아리<span>-></span>인천중구교육포털
								</p>
							</li>
							<li>
								<div class="num">02</div>
								<p class="tit">
									평생학습동아리 지원사업 공모 <br />
									(2월) 및 신청
								</p>
								<p class="txt">
									동아리<span>-></span>평생교육과
								</p>
							</li>
							<li>
								<div class="num">03</div>
								<p class="tit">
									지방보조금심의위원회 심의 및 <br />
									보조금교부(3~5월)
								</p>
								<p class="txt">평생교육과</p>
							</li>
							<li>
								<div class="num">04</div>
								<p class="tit">
									평생학습동아리 활동 <br /> (5~10월)
								</p>
								<p class="txt">동아리</p>
							</li>
							<li>
								<div class="num">05</div>
								<p class="tit">
									정산 및 <br />
									정산보고서(11월)
								</p>
								<p class="txt">
									동아리<span>-></span>평생교육과
								</p>
							</li>
						</ul>
					</div>
					<div class="row__body">
						<ul class="list-1">
							<li>
								추진근거
								<ul class="list-circle">
									<li>평생교육법 제16조(경비보조 및 지원)</li>
									<li>인천광역시 중구 평생교육진흥조례 제4조(지원)</li>
								</ul>
							</li>
						</ul>
						<ul class="list-1">
							<li>
								세부내용
								<ul class="list-2">
									<li>
										지원조건
										<ul class="list-circle">
											<li>평생교육법 제16조(경비보조 및 지원)</li>
											<li>
												학습동아리 요건 : 구민 5명 이상의 성인학습자로 구성되어
												월 1회 이상 정해진 주제에 대해 학습활동을 자발적, 정기적
												모임을 통해 운영하는 동아리
											</li>
											<li>
												연 2회 이상 학습동아리 성격에 맞는 재능나눔 활동 계획이
												있는 동아리
											</li>
											<li>회원이 70% 이상 관내 주소를 둔 동아리</li>
											<li>
												활동현황을 인천 중구 교육포털에 2회 이상
												활동소식(사진포함) 등록 가능한 동아리
											</li>
										</ul>
									</li>
								</ul>
								<ul class="list-2">
									<li>
										지원항목
										<ul class="list-circle">
											<li>지원액 : 평생학습동아리 당 100만원 범위 내</li>
											<li>
												학습활동 운영경비 : 강사료, 수강료, 교재 및 재료구입비
												등 <br />
												<span class="cRed"
													>※ 인건비, 식사비, 간식비, 여비 등 동아리 일회성
													내부행사는 원칙적으로 지원불가</span
												>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="list-2">
									<li>
										선정제외 사항
										<ul class="list-circle">
											<li>특정지역, 기관, 단체의 영리를 목적으로 하는 사업</li>
											<li>
												동일한 사업 내용으로 행정기관으로부터 보조를 받는
												프로그램
											</li>
											<li>
												특정 정당을 지지하거나 특정 종교활동을 목적으로 하는
												프로그램
											</li>
											<li>단기성, 일회성 프로그램</li>
											<li>
												자발적이고 주체적인 동아리 활동이 아닌 강사가
												주체(리더)가 되어 일정의 강사료를 지급하며 운영되는
												동아리
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<ul class="list-1">
							<li>평생학습동아리 지원사업 공모신청(2023년)</li>
							<li class="before-none">
								<a
									href=""
									download=""
									class="comBtn sizeLg bgMain ico-down ml0"
								>
									공모 안내 및 사업신청서
								</a>
							</li>
						</ul>
					</div>
					<p class="row__head">
						<span class="title__icon">문의</span>
					</p>
					<p class="content">
						인천광역시 중구청 평생교육과 평생학습팀 ☎ 032-760-7956~9
					</p>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
