---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";
import PagingNavigation from "../../components/PagingNavigation.astro";

const datph2 = "네트워크";
const location = "찾아가는 강좌";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<div class="subcotent">
				<div class="row introType">
					<p class="row__head pt0">
						<span class="title__icon">찾아가는 평생학습이란?</span>
					</p>
					<p class="content">
						5명 이상의 시민이 모여 학습을 신청하면 언제 어디서나 학습자가 원하는
						시간과 장소에 희망 강좌를 방문배달하는 평생교육 서비스 입니다.
					</p>

					<p class="row__head">
						<span class="title__icon">사업개요</span>
					</p>
					<div class="com-step introType1">
						<ul>
							<li>
								<div class="num">01</div>
								<p class="tit">학급모임 결성</p>
								<p class="txt">중구주민 5명이상</p>
							</li>
							<li>
								<div class="num">02</div>
								<p class="tit">교육신청</p>
								<p class="txt">모임 => 평생교육과</p>
							</li>
							<li>
								<div class="num">03</div>
								<p class="tit">교육강좌 배정</p>
								<p class="txt">평생교육과</p>
							</li>
							<li>
								<div class="num">04</div>
								<p class="tit">교육일정 확정</p>
								<p class="txt">강사, 모임(주민)</p>
							</li>
							<li>
								<div class="num">05</div>
								<p class="tit">학습실시</p>
								<p class="txt">강사, 모임(주민)</p>
							</li>
							<li>
								<div class="num">06</div>
								<p class="tit">결과보고 및 강사비청구</p>
								<p class="txt">강사 => 평생교육과</p>
							</li>
							<li>
								<div class="num">07</div>
								<p class="tit">강사비 지급</p>
								<p class="txt">평생교육과 => 강사</p>
							</li>
						</ul>
					</div>

					<div class="row__body">
						<ul class="list-1">
							<li>신청기간 : 매년 2월 ~ 3월 예정</li>
							<li>사업규모 : 20개 강좌(선착순 모집)</li>
							<li>
								신청방법 : 전화 사전 문의 후 방문 및 이메일접수 <br />
								<div class="cRed">
									※ 교육 종료 후 학습모임 대표자가 결과보고서 작성 후 제출
								</div>
							</li>
							<li>신청자격 : 인천 중구에 주소를 둔 5명 이상의 학습모임</li>
							<li>
								수강료 : 무료 / 강사료를 제외한 교재비, 재료비 등은 학습자 부담
							</li>
							<li>강좌분야 : 배달이 가능한 모든 강좌(일부 제한 있음)</li>
							<li>
								운영방법
								<ul class="list-circle">
									<li>
										학습신청 : 학습모임에서 희망하는 시간과 장소, 강좌 신청
									</li>
									<li>
										학습시간 : 최소 7시간이상 20시간이내 학습(주2시간 이상 4시간
										이내 학습)
									</li>
									<li>
										학습장소 : 학습모임과 강사간의 협의를 통해 결정 <br />
										<span class="cRed"
											>(※강사 사설 근무지 등 사업목적과 맞지 않는 장소는 제한됨)</span
										>
									</li>
								</ul>
							</li>
						</ul>
					</div>

					<p class="row__head">
						<span class="title__icon">참여제한</span>
					</p>

					<div class="row__body">
						<ul class="list-1">
							<li>학교의 정규 교과목 습득을 위한 강좌</li>
							<li>종교, 정치적 성격의 강좌</li>
							<li>친목도모, 여행, 일회성 성격의 강좌</li>
							<li>
								사업 중복 등 제한이 필요하다고 인정되는 강좌
								<ul class="list-2">
									<li>중구청 타 부서 추진사업 지원불가</li>
									<li>강사 및 기관의 영리만을 목적으로 임의로 구성된 강좌</li>
									<li>개인 학원의 교육운영 대체를 위한 학습모임 신청활동</li>
									<li>기타 사업목적에 부적합한 강좌</li>
								</ul>
							</li>
						</ul>
					</div>

					<p class="row__head">
						<span class="title__icon">기타사항</span>
					</p>

					<div class="row__body">
						<ul class="list-1">
							<li>학습모임 회원 참여후기 및 만족도 조사 실시(강사)</li>
							<li>교육과정 수시 현장점검 실시(평생교육과)</li>
						</ul>
					</div>

					<p class="row__head">
						<span class="title__icon">문의</span>
					</p>

					<div class="row__body">
						<ul class="list-1">
							<li>인천광역시 중구청 평생교육과 평생학습팀 ☎ 032-760-7956~9</li>
							<li class="before-none">
								<a
									href=""
									download=""
									class="comBtn sizeLg bgMain ico-down ml0"
								>
									찾아가는 평생학습강좌 신청서 다운로드
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
