---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";
import PagingNavigation from "../../components/PagingNavigation.astro";

const datph2 = "네트워크";
const location = "우리동네 강사 소개";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<div class="subcotent network">
				<!-- 서브 탭메뉴 -->
				<ul class="comSubTab">
					<li class="on">
						<a href="TeacherNeighborhood.html">우리동네 강사 소개</a>
					</li>
					<li>
						<a href="TeacherNeighborhoodStatus.html">우리동네 강사 현황</a>
					</li>
					<li>
						<a href="TeacherNeighborhoodStatusEnrollment.html">우리동네 강사 신청</a>
					</li>
				</ul>
				<div class="row introType">
					<p class="row__head">
						<span class="title__icon">우리동네 강사 등록제</span>
					</p>
					<p class="content">
						능력있는 강사의 활동을 지원하고, 평생학습관을 비롯한 평생교육기관과
						연결하여 인천중구 평생교육의 효율성을 높이고 교육의 질 향상 도모
					</p>
					<p class="row__head">
						<span class="title__icon">우리동네 강사 등록 방법</span>
					</p>
					<div class="row__body introType2">
						<div class="com-step">
							<ul>
								<li>
									<div class="num">01</div>
									<p class="tit">강사등록신청</p>
									<p class="txt">
										강사 <span> ></span> 인천중구교육포털
									</p>
								</li>
								<li>
									<div class="num">02</div>
									<p class="tit">관련자료 및 증빙자료제출</p>
									<p class="txt">
										강사 <span> ></span>평생교육과
									</p>
								</li>
								<li>
									<div class="num">03</div>
									<p class="tit">서류심사</p>
									<p class="txt">평생교육과</p>
								</li>
								<li>
									<div class="num">04</div>
									<p class="tit">강사정보등록완료</p>
									<p class="txt">인천중구교육포털</p>
								</li>
							</ul>
						</div>

						<ul class="list-1">
							<li>
								강사자격 : 해당분야의 전문성을 갖춘 분들 중, 평생학습강사로
								활동할 의지가 있는 분
							</li>
							<li>
								등록방법 : 인천중구교육포털 신청 후, 증빙자료 이메일접수(포털
								전용 이메일 추후 기입)
							</li>
							<li>
								증빙자료 : 교육포털 등록사항 출력본 1부, 관련분야 자격증 사본
								1부, 기관추천서 1부(해당자)
							</li>
							<li>모집기간 : 연중수시모집</li>
							<li>
								모집분야
								<ul class="list-circle">
									<li>
										기초문해교육 : 한글교실, 다문화한글교육, 기초생활교육,
										한글노래교실 등
									</li>
									<li>
										학력보완교육 : 중·고·대입 검정고시, 초등학력 인증,
										중고생교과연계, 진로강좌, 독학사강좌, 학점은행제 등
									</li>
									<li>
										직업능력교육 : 직업준비교육, 자격증 취득교육, 직무연수 등
									</li>
									<li>
										문화예술교육 : 레저활동, 생활스포츠, 생활공예, 노래교실,
										음악·무용, 미술·서예, 연극·영화 등
									</li>
									<li>
										인문교양교육 : 예절교육, 정보인터넷활용, 생활외국어,
										가정생활강좌 등
									</li>
									<li>
										시민참여교육 : 학습동아리교육, 환경실천교육, 지역리더양성,
										지역문화해설사 양성, 인권교육, 양성평등교육 등
									</li>
									<li>기타교육</li>
								</ul>
							</li>
						</ul>
					</div>
					<p class="row__head">
						<span class="title__icon">문의</span>
					</p>
					<p class="content">
						인천광역시 중구청 평생교육과 평생학습팀 ☎ 032-760-7956~9
					</p>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
