---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubBody from "../../layouts/SubBody.astro";

const datph2 = "도시숲 소개";
const location = "둘러보기";
const pageTitle = `홈>${datph2}>${location}`;
const idName = "VirtualTour";

import "../../css/ui.css";

//둘러보기 Tabs
interface VirtualTourTab {
	icon: string;
	label: string;
	value: string;
	active: boolean;
	link: string;
	// content: string;
	content: {
		wrap01: {
			label: string;
			img: string;
			icon: string;
		};
		wrap02: {
			left: {
				LFimage: string;
				RTimage: string;
				text: string;
				link: string;
			};
			right: {
				box01: {
					image: string;
					infoText: string;
					link: string;
				};
			};
		};
	};
}
const virtualTourTabs: VirtualTourTab[] = [
	{
		icon: "../../img/tab_img-01.svg",
		label: "보전의 숲",
		value: "보전의 숲",
		active: true,
		link: "#tabs1",
		content: {
			wrap01: {
				label: "Forest.01",
				img: "../../img/img-map-forest.png",
				icon: "../../img/img-compass.svg",
			},
			wrap02: {
				left: {
					LFimage: "../../img/img-virtual-01.png",
					RTimage: "../../img/img-virtual-02.png",
					text: "송도송림 지역에 위치한 맨발학교는 최근 ‘맨발걷기 성지’로 주목받고 있는 송도솔녹지에 자리하고 있으며, 건강과 자연 치유를 테마로 한 활동 중심의 학교입니다.",
					link: "/info/1",
				},
				right: {
					box01: {
						image: "../../img/icon-virtual-01.svg",
						infoText: "[교목]소나무: 12,000 (그루)",
						link: "/info/1",
					},
				},
			},
		},
	},
	{
		icon: "../../img/tab_img-02.svg",
		label: "활력의 숲",
		value: "활력의 숲",
		active: false,
		link: "#tabs2",
		content: {
			wrap01: {
				label: "Forest.02",
				img: "../../img/img-map-forest.png",
				icon: "../../img/img-compass.svg",
			},
			wrap02: {
				left: {
					LFimage: "../../img/img-virtual-01.png",
					RTimage: "../../img/img-virtual-02.png",
					text: " 눈알빠질듯",
					link: "/info/1",
				},
				right: {
					box01: {
						image: "../../img/icon-virtual-01.svg",
						infoText: "[교목]소나무: 12,000 (그루)",
						link: "/info/1",
					},
				},
			},
		},
	},
	{
		icon: "../../img/tab_img-03.svg",
		label: "소통의 숲",
		value: "소통의 숲",
		active: false,
		link: "#tabs3",
		content: {
			wrap01: {
				label: "Forest.03",
				img: "../../img/img-map-forest.png",
				icon: "../../img/img-compass.svg",
			},
			wrap02: {
				left: {
					LFimage: "../../img/img-virtual-01.png",
					RTimage: "../../img/img-virtual-02.png",
					text: " 눈알빠질듯",
					link: "/info/1",
				},
				right: {
					box01: {
						image: "../../img/icon-virtual-01.svg",
						infoText: "[교목]소나무: 12,000 (그루)",
						link: "/info/1",
					},
				},
			},
		},
	},
	{
		icon: "../../img/tab_img-04.svg",
		label: "마중의 숲",
		value: "마중의 숲",
		active: false,
		link: "#tabs4",
		content: {
			wrap01: {
				label: "Forest.04",
				img: "../../img/img-map-forest.png",
				icon: "../../img/img-compass.svg",
			},
			wrap02: {
				left: {
					LFimage: "../../img/img-virtual-01.png",
					RTimage: "../../img/img-virtual-02.png",
					text: " 눈알빠질듯",
					link: "/info/1",
				},
				right: {
					box01: {
						image: "../../img/icon-virtual-01.svg",
						infoText: "[교목]소나무: 12,000 (그루)",
						link: "/info/1",
					},
				},
			},
		},
	},
];
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout idName={idName} title={location} datph2={datph2}>
		<SubBody title={location}>
			<div class="virtualTour-Tabs">
				<ul>
					{
						virtualTourTabs.map((tab) => (
							<li class={tab.active ? "active" : ""} data-tab={tab.value}>
								<a href={tab.link}>
									<img src={tab.icon} alt="" class="tab-icon" />
									<span>{tab.label}</span>
								</a>
							</li>
						))
					}
				</ul>
			</div>
			<div class="virtualTour-Contents">
				{
					virtualTourTabs.map((tab) => (
						<div class={`content ${tab.active ? "active" : ""}`} data-content={tab.value}>
							<div class="wrap01">
								<span class="lable">{tab.content.wrap01.label}</span>
								<img class="map" src={tab.content.wrap01.img} alt="" />
								<img class="icon" src={tab.content.wrap01.icon} alt="" />
							</div>
							<div class="wrap02">
								<div class="left-wrap">
									<h2 class="section-title">전경 이미지</h2>
									<div class="left">
										<div class="left-inner">
											<div class="LFimage">
												<img src={tab.content.wrap02.left.LFimage} alt="" />
											</div>
											<div class="RTimage">
												<img src={tab.content.wrap02.left.RTimage} alt="" />
											</div>
										</div>
										<div class="text">
											<p>{tab.content.wrap02.left.text}</p>
										</div>
									</div>
								</div>
								<div class="right-wrap">
									<h2 class="section-title">전경 이미지</h2>
									<a class="right" href="">
										<div class="left-img">
											<img class="info-image" src={tab.content.wrap02.right.box01.image} alt="" />
										</div>
										<div class="right-text">
											<p>{tab.content.wrap02.right.box01.infoText}</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					))
				}
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>

<script>
	const tabs = document.querySelectorAll(".virtualTour-Tabs li");
	const contents = document.querySelectorAll(".virtualTour-Contents .content");

	tabs.forEach((tab) => {
		tab.addEventListener("click", function (e) {
			e.preventDefault();

			const tabValue = this.dataset.tab;

			// 모든 탭과 콘텐츠에서 active 제거
			tabs.forEach((t) => t.classList.remove("active"));
			contents.forEach((c) => c.classList.remove("active"));

			// 클릭된 탭과 해당 콘텐츠에 active 추가
			this.classList.add("active");
			document.querySelector(`[data-content="${tabValue}"]`)?.classList.add("active");
		});
	});
</script>
