---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubBody from "../../layouts/SubBody.astro";

const datph2 = "대관안내";
const location = "대관신청";
const pageTitle = `홈>${datph2}>${location}`;
const idName = "FacilityRental";

import "../../css/ui.css";

// 시설예약
export interface facility {
	image: string;
	title: string;
	facilityType: {
		boldTitle: string;
		normalText: string;
	};
	managerType: {
		boldTitle: string;
		normalText: string;
	};
	link?: string;
	infoLink?: string;
}

export const facility: facility[] = [
	{
		image: "/img/card_img01.png",
		title: "융합1체육공원 풋살장 2구장",
		facilityType: {
			boldTitle: "사용시설",
			normalText: "풋살장 2구장"
		},
		managerType: {
			boldTitle: "관리기관",
			normalText: "포항시 푸른도시사업단 공원과 (054-270-5733573357335733)"
		},
		link: "/facility/RentalApplication-detail",
		infoLink: "/facility/RentalApplication-detail",
	},
	{
		image: "/img/card_img01.png",
		title: "융합1체육공원 풋살장 1구장",
		facilityType: {
			boldTitle: "사용시설",
			normalText: "풋살장 2구장"
		},
		managerType: {
			boldTitle: "관리기관",
			normalText: "포항시 푸른도시사업단 공원과 (054-270-5733)"
		},
		link: "/facility/2",
		infoLink: "/facility/2",
	},
	{
		image: "/img/card_img02.png",
		title: "송도 솔밭 물빛누리공원",
		facilityType: {
			boldTitle: "사용시설",
			normalText: "풋살장 2구장"
		},
		managerType: {
			boldTitle: "관리기관",
			normalText: "포항시 푸른도시사업단 그린웨이추진과 (054-270-5733)"
		},
		link: "/facility/3",
		infoLink: "/facility/3",
	},
		{
		image: "/img/card_img03.png",
		title: "내연산 치유의 숲_B",
		facilityType: {
			boldTitle: "사용시설",
			normalText: "산림치유 프로그램"
		},
		managerType: {
			boldTitle: "관리기관",
			normalText: "내연산 치유센터"
		},
		link: "/facility/4",
		infoLink: "/facility/4",
	},
			{
		image: "/img/card_img04.png",
		title: "내연산 치유의 숲_B",
		facilityType: {
			boldTitle: "사용시설",
			normalText: "산림치유 프로그램"
		},
		managerType: {
			boldTitle: "관리기관",
			normalText: "내연산 치유센터"
		},
		link: "/facility/5",
		infoLink: "/facility/5",
	},
			{
		image: "/img/card_img05.png",
		title: "환호공원(물의공원)",
		facilityType: {
			boldTitle: "사용시설",
			normalText: "공연장"
		},
		managerType: {
			boldTitle: "관리기관",
			normalText: "내포항시 푸른도시사업단 공원과 (054-270-5733)"
		},
		link: "/facility/6",
		infoLink: "/facility/6",
	},
];
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout idName={idName} title={location} datph2={datph2}>
		<SubBody title={location}>
			<!-- 검색 영역 -->
			<div class="search-section">
				<div class="search-form">
					<div class="search-input-group">
						<span class="title-name">대관시설</span>
						<input
							type="text"
							class="search-input"
							placeholder="시설 명을 입력하세요."
							id="searchKeyword"
						/>
						<button type="button" class="search-btn">검색</button>
					</div>
				</div>
			</div>

			<!-- 대관신청 -->
			<div class="facility-list">
				{facility.map((facility) => (
					<div class="facility-item">
						<div class="facility-image">
							<img src={facility.image} alt={facility.title} />
						</div>
						<div class="facility-info">
							<h2>{facility.title}</h2>
							<ul class="facility-details">
								<li>
									<h3 class="tit-bold">{facility.facilityType.boldTitle}</h3>
									<span class="tit-default">{facility.facilityType.normalText}</span>
								</li>
								<li>
									<h3 class="tit-bold">{facility.managerType.boldTitle}</h3>
									<span class="tit-default">{facility.managerType.normalText}</span>
								</li>
							</ul>
							<div class="facility-buttons">
								{facility.infoLink && (
    								<a href={facility.infoLink} class="btn-info">시설안내</a>
  							)}
								{facility.link && (
									<a href={facility.link} class="btn-write">대관신청</a>
								)}
							</div>
						</div>
					</div>
				))}
			</div>

			<!-- 페이지네이션 -->
			<div class="pagination-wrap">
				<div class="pagination">
					<a href="#" class="page-btn prev-btn" aria-label="처음음 페이지">
						<img src="../img/btn_arrow_left_first.svg" alt="처음" />
					</a>
					<a href="#" class="page-btn prev-btn" aria-label="이전 페이지">
						<img src="../img/btn_arrow_left.svg" alt="이전" />
					</a>
					<div class="page-numbers">
						<a href="#" class="page-num active">1</a>
						<a href="#" class="page-num">2</a>
						<a href="#" class="page-num">3</a>
						<a href="#" class="page-num">4</a>
						<a href="#" class="page-num">5</a>
					</div>
					<a href="#" class="page-btn next-btn" aria-label="다음 페이지">
						<img src="../img/btn_arrow_right.svg" alt="다음" />
					</a>
					<a href="#" class="page-btn next-btn" aria-label="마지막 페이지">
						<img src="../img/btn_arrow_right_last.svg" alt="다음" />
					</a>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
