---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubBody from "../../layouts/SubBody.astro";

const datph2 = "대관 안내";
const location = "대관 신청";
const pageTitle = `홈>${datph2}>${location}`;
const idName = "FacilityRental";

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout idName={idName} title={location} datph2={datph2}>
		<SubBody title={location}>
			<div class="subcontent">
				<fieldset class="bod_search">
					<div class="form-item">
						<label for="searchText">대관시설</label>
						<input
							class="com-input"
							id="searchText"
							name="searchText"
							title="검색어"
							type="text"
							placeholder="시설명을 입력해주세요"
							value=""
						/>
						<button type="submit" value="검색" class="search-btn" title="검색">검색</button>
					</div>
				</fieldset>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
