---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";
import Card from "../../components/Card.astro";
import PagingNavigation from "../../components/PagingNavigation.astro";

const datph2 = "κµμ΅νμ‹ μ§€κµ¬";
const location = "μΈν„°λ„·μλ¥λ°©μ†΅μ§€μ›";
const pageTitle = `ν™>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<div class="subcotent λ°°μ°λ”λ°”λ‹¤ common">
				<p class="row__head pt0">
					<span class="title__icon">μΈν„°λ„· μλ¥λ°©μ†΅ μ§€μ›</span>
				</p>
				<div class="row__body pl30">
					<p class="content">
						μ¤‘κ³ λ“±ν•™μƒμ„ λ€μƒμΌλ΅ κ°•λ‚¨κµ¬ μΈν„°λ„· μλ¥λ°©μ†΅μ„ μ§€μ›ν•μ—¬ μ‚¬κµμ΅λΉ„
						μ κ°κ³Ό μκΈ°μ£Όλ„ν•™μµ μ§€μ›μ„ λ©ν‘λ΅ ν•©λ‹λ‹¤.
					</p>
					<img src="#" alt="κ°•λ‚¨κµ¬μ²­ μΈν„°λ„·μλ¥λ°©μ†΅ κ³ 1κ°•μΆ" />
				</div>
				<p class="row__head">
					<span class="title__icon">κ°•λ‚¨κµ¬μ²­ μΈν„°λ„·μλ¥λ°©μ†΅ μ§€μ›</span>
				</p>
				<div class="row__body">
					<ul class="list-1">
						<li>κΈ°κ°„ : λ§¤λ…„ 3μ›” ~ 12μ›”</li>
						<li>
							λ€μƒ :
							<ul class="list-2">
								<li>- μΈμ² μ¤‘κµ¬ μ†μ¬ μ¤‘Β·κ³ λ“±ν•™κµ μ¬ν•™μƒ λ° μ¤‘κµ¬ κ±°μ£Ό ν•™μƒ</li>
								<li>- μΈμ² μ¤‘κµ¬ κ΄€λ‚΄ ν•™κµλ°–μ²­μ†λ…„</li>
							</ul>
						</li>
						<li>μ§€μ› : 1μΈλ‹Ή 45,000μ›(μκ°•λ£ μ§€μ›)</li>
						<li>
							λ¬΄λ£μ§€μ› : μκΈ‰μ, μ°¨μƒμ„, ν•λ¶€λ¨, μ¥μ• μΈ, μ κ³µμ κ°€μ΅± μ¤‘ μ‹ μ²­μ
							μ „μ›
						</li>
						<li class="before-none">
							<a href="" class="comBtn sizeLg bgMain ml0">
								π”— κ°•λ‚¨κµ¬μ²­ μΈν„°λ„·μλ¥λ°©μ†΅ λ°”λ΅κ°€κΈ°
							</a>
						</li>
					</ul>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
