---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";
import Card from "../../components/Card.astro";
import PagingNavigation from "../../components/PagingNavigation.astro";

const datph2 = "교육혁신지구";
const location = "교육지원사업";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<div class="subcotent 배우는바다 common work">
				<p class="row__head pt0">
					<span class="title__icon">교육경비 지원사업</span>
				</p>
				<div class="row__body pl30">
					<p class="content">
						관내 소재 “고등학교 이하 각급학교” 및 “종일제 운영 유치원”의
						교육여건 개선 및 학력 향상을 위해 각종 사업경비의 일부를
						지원함으로써 공교육의 질적 향상을 도모하고, 지역 내 교육격차 해소를
						통해 균형 있는 선진교육 환경을 조성하고자 합니다.
					</p>
					<ul class="list-img flex gap20">
						<li>
							<img
								src="../img/sub-img04.jpg"
								alt="논슬립 설치공사 (송도중)"
							/>
							<div class="txtwrap-2"><span>논슬립 설치공사 (송도중)</span></div>
						</li>
						<li>
							<img
								src="../img/sub-img05.jpg"
								alt="전자칠판 설치 (인성초)"
							/>
							<div class="txtwrap-2">전자칠판 설치 (인성초)</div>
						</li>
						<li>
							<img
								src="../img/sub-img06.jpg"
								alt="하늘악기교실 운영 (하늘초)"
							/>
							<div class="txtwrap-2">하늘악기교실 운영 (하늘초)</div>
						</li>
					</ul>
				</div>
				<p class="row__head">
					<span class="title__icon">관련근거</span>
				</p>
				<div class="row__body">
					<ul class="list-1">
						<li>지방교육재정교부금법 제11조 제8항</li>
						<li>지방자치단체의 교육경비 보조에 관한 규정 제2조</li>
						<li>유아교육법 제27조 및 유아교육법 시행령 제33조</li>
						<li>인천광역시 중구 교육경비 보조에 관한 조례</li>
					</ul>
				</div>
				<p class="row__head">
					<span class="title__icon">추진방향(2022년 기준)</span>
				</p>
				<div class="row__body">
					<ul class="list-1">
						<li>
							각급학교 교육환경 개선 및 학력향상을 위한 교육특성화 프로그램 운영
							지원
						</li>
						<li>학교폭력예방사업 교육경비 지원</li>
						<li>유치원에 대한 교육환경개선사업 지원</li>
					</ul>
				</div>
				<p class="row__head">
					<span class="title__icon"
						>사업예산 : 1,580,000천원 (2022년 기준)
					</span>
				</p>
				<div class="row__body">
					<table>
						<caption class="hidden"
							>구분, 주요사업내용, 지원예산을 설명하는 표</caption
						>
						<tbody>
							<tr>
								<th scope="col">주요사업내용</th>
								<th scope="col">지원예산</th>
							</tr>
							<tr>
								<th scope="row">합계</th>
								<td>1,580,000천원</td>
							</tr>
							<tr>
								<th scope="row">교육환경 개선 및 특성화프로그램 운영 지원</th>
								<td>1,424,000천원</td>
							</tr>
							<tr>
								<th scope="row">학교폭력예방사업 지원</th>
								<td>80,000천원</td>
							</tr>
							<tr>
								<th scope="row">종일제 운영 유치원 교육환경개선사업 지원</th>
								<td>76,000천원</td>
							</tr>
						</tbody>
					</table>
					<ul class="list-1"></ul>
				</div>
				<p class="row__head">
					<span class="title__icon">세부지원사항</span>
				</p>
				<div class="row__body">
					<ul class="list-3">
						<li>1. 교육환경 개선 및 교육특성화 프로그램 지원</li>
						<li class="before-none">
							<table>
								<caption class="hidden"
									>사업구분, 사업분야, 세부내역(예시), 교육환경 개선, 교육특성화
									프로그램 운영을 설명하는 표</caption
								>
								<tbody>
									<tr>
										<th scope="col">사업구분</th>
										<th scope="col">사업분야</th>
										<th scope="col">세부내역(예시)</th>
									</tr>
									<tr>
										<th scope="row" rowspan="4">교육환경 개선</th>
										<td>보건위생</td>
										<td>급식시설 개선, 음수대개선 등</td>
									</tr>
									<tr>
										<td>교육정보화</td>
										<td>컴퓨터, 빔프로젝터등 정보화 기기(※ 학생용에 한함)</td>
									</tr>
									<tr>
										<td>특별교실 조성</td>
										<td>방송실, 실습실, 평생교육실등 조성 및 개선</td>
									</tr>
									<tr>
										<td>기타시설 개선</td>
										<td>각종 학교의 제반시설개선 및 안전도 향상</td>
									</tr>
									<tr>
										<th scope="row" rowspan="3">교육특성화 프로그램 운영</th>
										<td>각학력향상 교육(기초학력 향상)</td>
										<td
											>독서·논술 교실, 방과후 학교 프로그램 운영 확대, <br />
											동아리 활동지원, 자기주도 학습프로그램 운영</td
										>
									</tr>
									<tr>
										<td>특기적성 교육 강화(인재육성)</td>
										<td
											>외국어(중국어 등) 교실, 과학교실, 예술활동, <br />
											체형교정 등 체육활동, 특기적성 및 인재육성 프로그램 운영</td
										>
									</tr>
									<tr>
										<td>그 외 학교 제안 프로그램 공모</td>
										<td>학교별 여건에 맞는 특성화 교육 프로그램</td>
									</tr>
								</tbody>
							</table>
						</li>
					</ul>
				</div>
				<div class="row__body">
					<ul class="list-3">
						<li>
							2. 교육환경 개선 및 교육특성화 프로그램 지원
							<ul class="list-1">
								<li>학교폭력예방 교육비(외부강사료)</li>
								<li>학교폭력예방 관련 공연 관람비</li>
								<li>학교폭력예방 캠페인 등 활동비</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="row__body">
					<ul class="list-3">
						<li>
							3. 유치원 교육환경 개선사업 지원
							<ul class="list-1">
								<li>
									시설보수 등 환경개선, 교육교재·교구 구입비 지원 (소모품 구입
									등 소모성 경비 및 인건비는 지원 제외)
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
