---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";
import Card from "../../components/Card.astro";
import PagingNavigation from "../../components/PagingNavigation.astro";

const datph2 = "교육혁신지구";
const location = "구석구석탐방";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<div class="subcotent 배우는바다 common">
				<div class="row introType">
					<p class="row__head pt0">
						<span class="title__icon">구석구석 탐방</span>
					</p>
					<div class="row__body">
						<p class="content">
							중구교육혁신지구 지역특화 사업으로 중구마을 구석구석 탐방
							프로그램을 통해 학생들에게 중구의 자연과 마을 전체가 함께하는
							체험활동의 기회를 제공하여 <br />
							우리마을의 자연, 문화, 역사를 바로 알고 사랑하는 중구사랑교육을 실천하고자
							합니다.
						</p>
						<div class="trip flex gap20">
							<img src="../img/sub-img01.jpg" alt="" />
							<img src="../img/sub-img02.jpg" alt="" />
							<img src="../img/sub-img03.jpg" alt="" />
						</div>
					</div>
					<p class="row__head">
						<span class="title__icon">중구마을 구석구석 탐방 교육</span>
					</p>
					<div class="row__body">
						<ul class="list-1">
							<li>지원기간 : 매년 3월 ~ 12월</li>
							<li>지원대상 : 관내 초·중학교 25개교(초 15개교, 중 10개교)</li>
							<li>지원내용 : 중구 內 지역탐방 체험 프로그램 지원</li>
							<li>
								지원기준
								<ul class="list-2">
									<li>학생 1인당 3만원 범위까지 지원 * 교사체험비 지원 가능</li>
									<li>
										학생 중식비 1인당 8천원 이내 지원(※ 교사 중식비 지원 불가)
									</li>
								</ul>
							</li>
							<li class="before-none">
								<a
									href=""
									download=""
									class="comBtn sizeLg bgMain ico-down ml0"
								>
									구석구석탐방 프로그램 안내문 다운로드
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
