---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";

const datph2 = "평생학습도시";
const location = "오시는길";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<!-- 서브 컨텐츠 들어가는 부분 -->
			<div class="subcotent 배우는바다">
				<div class="location">
					<div class="tit">
						<h3>중구 평생학습관</h3>
						<p>주소 : 인천광역시 중구 찬들로 284번길 16</p>
					</div>
					<div class="transport__wrap">
						<ul class="transport">
							<li class="before-none">
								<img src="../img/bus-img.svg" alt="버스 이용시" />
							</li>
							<li>
								<span>하늘중학교 앞(정류장ID 35823)</span><br />
								203 ｜ 205 ｜ 206 ｜ 320 ｜ 중구5
							</li>
							<li>
								<span>중구청소년수련관, 하늘중학교 건너(정류장ID 35824)</span
								><br />
								203 ｜ 205 ｜ 206 ｜ 320 ｜ 중구5
							</li>
							<li>
								<span>LH7단지 건너(정류장ID 35451)</span><br />
								202 ｜ 203 ｜ 205 ｜ 206 ｜ 223 ｜ 307 ｜ 320
							</li>
						</ul>
						<ul class="transport">
							<li class="before-none">
								<img src="../img/subway-img.svg" alt="지하철 이용시" />
							</li>
							<li>
								운서역 1번출구 앞 버스정류장에서 버스로 환승 (206번, 중구5번)
							</li>
							<li>영종역 1번출구 버스정류장에서 버스로 환승(202번, 203번)</li>
						</ul>
					</div>
					<img
						src="../img/map-img.svg"
						alt=""
						class="map"
					/><!-- TODO 지도 영역 -->

					<div class="tit mt100">
						<h3>중구 평생교육과(중구 제 2청사)</h3>
						<p>
							주소 : 인천광역시 중구 운남서로 100 / 영종동행정복지센터 2층
							평생교육과
						</p>
					</div>
					<div class="transport__wrap">
						<ul class="transport width">
							<li class="before-none">
								<img src="../img/bus-img.svg" alt="버스 이용시" />
							</li>
							<li>
								<span>중구청 앞 (정류장ID 35232)</span><br />
								203 ｜ 223 ｜ 중구4 ｜ 304 ｜ 307 ｜ 222 ｜ 인천e음15 ｜ 중구2-1
								｜ 중구3 ｜ 중구6-1
							</li>
							<li>
								<span>중구청 건너 (정류장ID 35231)</span><br />
								203 ｜ 223 ｜ 중구4 ｜ 307 ｜ 320 ｜ 인천e음15 ｜ 중구2-1 ｜ 중구3
								｜ 중구6-1
							</li>
						</ul>
						<ul class="transport width">
							<li class="before-none">
								<img src="../img/subway-img.svg" alt="지하철 이용시" />
							</li>
							<li>운서역 1번출구 앞 버스정류장에서 버스로 환승 (307번 등)</li>
							<li>
								운서역 1번출구 길 건너 버스정류장에서 버스로 환승 (203, 223번
								등)
							</li>
							<li>영종역 1번출구 버스정류장에서 버스로 환승(인천e음15번 등)</li>
						</ul>
						<ul class="transport width">
							<li class="before-none">
								<img src="../img/taxi-img.svg" alt="택시 이용시" />
							</li>
							<li>영종역 1번출구에서 택시로 환승</li>
						</ul>
					</div>

					<img
						src="../img/map-img.svg"
						alt=""
						class="map"
					/><!-- TODO 지도 영역 -->
				</div>
			</div>
			<!-- 서브 컨텐츠 들어가는 부분 eee -->
		</SubBody>
	</SubLayout>
</BaseLayout>
