---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";

const datph2 = "평생학습도시";
const location = "선언문";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<!-- 서브 컨텐츠 들어가는 부분 -->
			<div class="subcotent 배우는바다">
				<div class="vision__wrap">
					<div class="top">
						<div class="flex__box">
							<span>비전</span>
							<div class="box_tt">
								함께 성장하며 미래로 나아가는 <br />
								글로벌 평생학습도시 중구
							</div>
						</div>
					</div>
					<div class="middle">
						<div class="flex__box">
							<span>목표</span>
							<img
								src="../img/visual-img02.svg"
								alt="협력과 연대, 참여와 권리, 미래지향, 포용과 상생"
							/>
						</div>
					</div>
					<div class="bottom">
						<div class="flex__box list__wrap">
							<span>추진전략</span>
							<ul class="list_tt">
								<li>
									빈틈없는 든든한 <br />
									학습생태게 구축
								</li>
								<li>
									모두가 주도하고 <br />
									참여하는 평생학습
								</li>
								<li>
									행복한 미래를 <br />
									열어가는 평생학습
								</li>
								<li>
									포용과 상생의 <br />
									힘이 되는 평생학습
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 서브 컨텐츠 들어가는 부분 eee -->
			</div>
			<!-- 서브 컨텐츠 들어가는 부분 eee -->
		</SubBody>
	</SubLayout>
</BaseLayout>
