---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";

const datph2 = "수강신청";
const location = "수강신청결제";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<!-- 결제하기 -->
			<div class="row">
				<p class="row__head">
					<span class="title__icon">결제하기</span>
				</p>
				<div class="comTable-2">
					<table>
						<caption class="hidden">결제 하기</caption>
						<col width="160px" />
						<col width="190px" />
						<col width="100px" />
						<col width="400px" />
						<thead>
							<tr>
								<th scope="row">강좌 정보</th>
								<td colspan="3" class="lh15">
									2022년 제24기 아동학대신고의무자 상설교육
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">신청자 정보</th>
								<td colspan="3" class="lh15">
									<span>홍*동</span>
									<span class="is-mo-hide">|</span>
									<br class="is-mo-show" />
									<span>010-****-6785</span>
								</td>
							</tr>
							<tr>
								<th scope="row">면제 및 감면대상 인증</th>
								<td colspan="3">
									<div class="flex gap5">
										<div class="comSelectBox w150">
											<label for="g1"></label>
											<select name="" id="g1" class="comSelect">
												<option value="">국가유공자</option>
											</select>
										</div>
										<button type="button" class="comBtn bgMain">인증</button>
									</div>
								</td>
							</tr>
							<tr>
								<!-- TODO 인증 완료 시   -->
								<th scope="row">(인증 확인 시)</th>
								<td colspan="3">
									<div class="flex gap5">
										<div class="comSelectBox w150">
											<label for="g1"></label>
											<select name="" id="g1" class="comSelect btn-disabled">
												<option value="">국가유공자</option>
											</select>
										</div>
										<button type="button" class="comBtn bgBlack btnEventNone"
											>인증완료</button
										>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">결제금액</th>
								<td colspan="3"><strong>15,000원</strong></td>
							</tr>
							<tr>
								<th scope="row">결제수단 선택</th>
								<td colspan="3">
									<div class="flex gap5 aiCenter">
										<button type="button" class="comBtn bgBlack sizeLg"
											>신용카드</button
										>
										<button type="button" class="comBtn bgBlack sizeLg"
											>가상계좌</button
										>
									</div>
								</td>
							</tr>
							<!-- TODO 선택시 색상 변경 + 선택됐을 경우 체크 박스 CLASS add .is-active  -->
							<tr>
								<th scope="row">(결제수단 선택 시)</th>
								<td colspan="3">
									<div class="flex gap5 aiCenter">
										<button
											type="button"
											class="comBtn bgBlack sizeLg btnEventNone"
											title="선택됨">신용카드</button
										>
										<button
											type="button"
											class="comBtn bgBlack sizeLg btnEventNone is-active"
											>가상계좌</button
										>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- 개인정보 수집동의 -->
			<div class="row join pb0">
				<p class="row__head">
					<span class="title__icon">개인정보 수집동의</span>
				</p>
				<div class="agreeRow">
					<div class="agree">
						<fieldset class="agreeBox" tabindex="0">
							<legend class="hidden">개인정보 수집동의</legend>
							<div>
								본인은 ｢정보통신망 이용촉진 및 정보보호 등에 관한
								법률｣제22조(개인정보의 수집ㆍ이용 동의 등) 및
								제24조의2(개인정보의 제공 동의 등), ｢개인정보
								보호법｣제15조(개인정보의 수집ㆍ이용), 제17조(개인정보의 제공)에
								따라 본인의 개인정보를 인천중구교육포털 「배우는바다」에서
								수집ㆍ활용하는데 동의합니다. <br /><br />

								수집목적 : 본인확인절차, 정책정보 등 행정서비스 제공, 업무와
								관련된 통계자료 작성, 교육 및 컨설팅 등 사후관리 <br />
								수집항목 : 신청자 성명, 휴대전화, 이메일 등 <br />
								보유 및 이용기간 : 사업목적이 달성된 이후 파기 귀하께서는 개인정보
								제공 및 활용에 거부할 권리가 있음을 알려드리며, 거부하실 경우 신청서
								접수가 불가능함을 알려드립니다.
								<br /><br />
								※미동의시 평생학습관 대관신청이 제한됩니다
							</div>
						</fieldset>
					</div>
					<div class="agreeOk">
						<div class="formChkbox flex gap5 aiCenter">
							<label class="formChkbox__control control--checkbox">
								개인정보 수집 동의 <span class="cRed">(필수)</span>
								<input type="checkbox" />
							</label>
						</div>

						<!-- <div class="hint">
           <p>※ 스크롤을 끝까지 내려 내용을 확인하기 바립니다.</p>
          </div> -->
					</div>
				</div>
			</div>
			<!-- 개인정보 수집동의 eee -->

			<!-- 취소, 신청 -->
			<ul class="BottomBtnWrap flex gap5 aiCenter jcCenter">
				<li>
					<button type="button" class="comBtn sizeXlg bgBlack">취소하기</button>
				</li>
				<li>
					<a
						href="CourseRegistrationPaymentCompleted.html"
						class="comBtn sizeXlg bgMain">결제하기</a
					>
				</li>
			</ul>
		</SubBody>
	</SubLayout>
</BaseLayout>
