---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubHeader from "../../layouts/SubHeader.astro";
import SubBody from "../../layouts/SubBody.astro";

const datph2 = "나눔공간간";
const location = "대관안내";
const pageTitle = `홈>${datph2}>${location}`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout>
		<SubHeader datph2={datph2} title={location} />
		<SubBody>
			<div class="subcotent">
				<div class="row introType">
					<p class="row__head pt0">
						<span class="title__icon">시설현황</span>
					</p>

					<div class="row__body">
						<div class="flex">
							<img src="../img/시설1.jpg" alt="평생학습관 이미지" />
							<ul class="list-1">
								<li>위치 : 인천광역시 중구 찬들로284번길 16</li>
								<li>부지 : 830㎡</li>
								<li>연면적 : 2,100㎡</li>
								<li>시설규모 : 지하1충, 지상4층</li>
							</ul>
						</div>
					</div>

					<p class="row__head">
						<span class="title__icon">층별안내</span>
					</p>

					<div class="row__body">
						<table class="comTable-1 trHoverNone">
							<caption class="hidden"
								>층별 ,대관 불가능 공간, 대관가능 공간을 설명하는 표</caption
							>
							<colgroup>
								<col style="width:15%" />
								<col style="width:45%" />
								<col style="width:45%" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">층 별</th>
									<th scope="col">대관 불가능 공간</th>
									<th scope="col">대관가능 공간</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>지하1층</td>
									<td>주차장, 기계실</td>
									<td></td>
								</tr>
								<tr>
									<td>1층</td>
									<td
										>평생학습카페, 사무실,강사대기실,바리스타 및 제빵강의실
									</td>
									<td></td>
								</tr>
								<tr>
									<td>2층</td>
									<td></td>
									<td>소강의실(4), 중강의실(1), 동아리실(2)</td>
								</tr>
								<tr>
									<td>3층</td>
									<td>IT교육실</td>
									<td>소강의실(2), 다목적실(1)</td>
								</tr>
								<tr>
									<td>4층</td>
									<td></td>
									<td>다목적강당(1)</td>
								</tr>
							</tbody>
						</table>
					</div>

					<p class="row__head">
						<span class="title__icon">층별안내도 및 관련 사진</span>
					</p>

					<div class="row__body">디자인 필요</div>

					<p class="row__head">
						<span class="title__icon">대관안내</span>
					</p>

					<div class="row__body">
						<ul class="list-1">
							<li>대관절차</li>
							<li class="com-step before-none">
								<ul>
									<li>
										<div class="num">01</div>
										<p class="tit">대관신청</p>
										<p class="txt">
											홈페이지 대관신청 (신청 가능일: 12월, 3월, 6월, 9월의
											1~10일)
										</p>
									</li>
									<li>
										<div class="num">02</div>
										<p class="tit">대관심사</p>
										<p class="txt">신청된 사항에 대한 담당자 심사</p>
									</li>
									<li>
										<div class="num">03</div>
										<p class="tit">사용허가 심사 및 통보</p>
										<p class="txt">대관가능여부 알림톡 혹은 문자로 전송</p>
									</li>
									<li>
										<div class="num">04</div>
										<p class="tit">결재</p>
										<p class="txt">
											홈페이지 마이페이지에서 결재(신용카드, 가상계좌)
										</p>
									</li>
									<li>
										<div class="num">05</div>
										<p class="tit">사용 및 종료</p>
										<p class="txt">
											사용종료후 청소 및 각종부탁물 제거 필수 예상치 못한 추가
											시설 사용이 있었따면 추가 사용료 납부
										</p>
									</li>
								</ul>
							</li>
							<li>
								대관 예약 안내
								<ul class="list-2">
									<li>
										1월~3월, 4월~6월, 7~9월, 10~12월 단위로 사용신청이 가능하며,
										예약가능시점은 12월, 3월, 6월, 9월의 1~10일 입니다.
										<ul class="list-circle">
											<li>
												예) 사용예정일 : 4월 1일 / 예약가능일 : 3월 1일~ 3월
												10일
											</li>
											<li>
												예) 사용예정일 : 6월 2, 9, 16, 23, 30일 / 예약가능일
												:3월 1일~ 3월 10일
											</li>
										</ul>
									</li>
									<li>
										평생학습관에서 기 사용중인 공간과 이미 예약된 공간은 신청이
										불가하며, 공휴일 및 휴일은 대관이 불가합니다. <br />
										대관이 불가능한 공간은 예약시 신청버튼이 활성화 되지 않습니다.
									</li>
								</ul>
							</li>
							<li>
								사용시간 및 사용요금 안내
								<table class="comTable-1 trHoverNone">
									<caption class="hidden"
										>구분, 사용시간 및 항목, 금액, 비고에 관련된 표</caption
									>
									<colgroup>
										<col style="width: 15%;" />
										<col style="width: auto;" />
										<col style="width: 15%;" />
										<col style="width: auto;" />
									</colgroup>
									<thead>
										<tr>
											<th scope="col">구분</th>
											<th scope="col">사용시간 및 항목</th>
											<th scope="col">금액</th>
											<th scope="col">비고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>대관</td>
											<td>오전(9:00~12:00)</td>
											<td>22,000</td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td>오후(14:00~17:00)</td>
											<td>22,000</td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td>야간(19:00~22:00)</td>
											<td>22,000</td>
											<td></td>
										</tr>
										<tr>
											<td>부대시설</td>
											<td>빔프로젝트</td>
											<td>5,500</td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td>냉난방사용</td>
											<td>5,500</td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td>전자칠판</td>
											<td>5,500</td>
											<td></td>
										</tr>
									</tbody>
								</table>
								<ul class="list-2">
									<li class="before-none pl0">
										<span class="cRed"
											>※ 이용가능한 부대시설은 대관장소에 따라 다를 수 있습니다.</span
										>
									</li>
									<li class="before-none pl0">
										<span class="cRed">※ 부가세(10%) 포함 금액</span>
									</li>
								</ul>
							</li>
							<li>
								사용요금 환불기준
								<table class="comTable-1 trHoverNone">
									<caption class="hidden"
										>구분, 환불사요 발생일, 환불금액, 비고에 관련된 표</caption
									>
									<colgroup>
										<col style="width: 45%;" />
										<col style="width: 33%;" />
										<col style="width: auto;" />
										<col style="width: auto;" />
									</colgroup>
									<thead>
										<tr>
											<th scope="col">구분</th>
											<th scope="col">환불사유 발생일</th>
											<th scope="col">환불금액</th>
											<th scope="col">비고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td
												>가. 천재지변이나 시설의 안전 관리상긴급한 조치가필요한
												경우 등<br />불가항력적인 사유 또는 시의 사정으로
												시설을사용할 수 없게 된 경우</td
											>
											<td>시설 사용이 불가능 하게 된 날</td>
											<td>납부한 사용료 전액</td>
											<td></td>
										</tr>
										<tr>
											<td
												>나. 사용자가 사용신청 취소신청서를<br />제출한 경우</td
											>
											<td
												>사용예정일 3일 전 까지 홈페이지에서 사용취소를 신청한
												경우</td
											>
											<td>납부한 사용료 전액</td>
											<td>당일 예약 취소 불가</td>
										</tr>
									</tbody>
								</table>
							</li>
							<li>대관사용 및 평생학습관 운영에 관한 사항 참고</li>
							<li class="before-none">
								<a
									href=""
									target="_blank"
									title="새창이동"
									class="comBtn sizeLg bgMain ml0"
								>
									🔗 인천광역시 중구 평생학습진흥조례
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</SubBody>
	</SubLayout>
</BaseLayout>
