---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubBody from "../../layouts/SubBody.astro";

const datph2 = "소식";
const location = "자주하는질문";
const pageTitle = `홈>${datph2}>${location}`;
const idName = "FAQ";

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<SubLayout idName={idName} title={location} datph2={datph2}>
		<SubBody title={location}>
      <div class="subcotent">
      </div>
		</SubBody>
	</SubLayout>
</BaseLayout>
